#myVideo {
    position: absolute;
    right: 0;
    bottom: -70px;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
}

header {
    position: absolute;
    text-align: center;
    top: 0;   
    background: gray;
    color: #f1f1f1;
    width: 60%;
    padding: 20px;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
}

.rubrik{
    position: absolute;
    top: 20%;
    width: 40%;
    font-size: 60px;
    left: 20%;
    color: aliceblue;
}

.flex-container{
    display: flex;
    flex-direction: column; 
    position: relative;
    margin-top: 60%;
    margin-left: 0;
    justify-content: space-around;
}

.house{
    display: flex;
    flex-direction: row;
    font-size: larger;
}

.bild{
    width: 700px;
    margin-right: 20px;
}

a{
    color:black;
    position:absolute;
    border: black 2px solid;
}