#myVideo {
    position: absolute;
    right: 0;
    bottom: -70px;
    width: 100%;
}



.header1 {
    left: 40vh;
    display: flex;
    position: absolute;
    text-align: center;
    top: 0vh;   
    background: #16174f;
    color: #f1f1f1;
    width: 60%;
    padding: 1vh;
    border-radius: 4%;
    justify-content: space-between;
}

.fa-home{
    color: white;
    font-size: 7vh;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
}

.rubrik{
    position: absolute;
    top: 35%;
    width: 40%;
    font-size: 60px;
    left: 30%;
    color: aliceblue;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: column; 
    position: relative;
    margin-top: 120vh;
    justify-content: space-between;
}


.house{
    display: flex;
    flex-direction: row;
    font-size: larger;
    justify-content:space-between;
    overflow: hidden;
    flex-basis: 65vh;   
    border: 1px solid black;
}

.första:hover{
    animation: bildspel 10s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.andra:hover{
    animation: bildspel2 10s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}


.tredje:hover{
    animation: bildspel 10s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.bild{
    width: 45vw;
    margin: 4vh;
    margin-bottom: 10vh;
}


.bildspel{
    position:relative;
}

.mainpicture{
    width: 100%;
}




.header2{
    color: white;
    display: flex;
    padding: 40px;
    background-color: #16174f;
    flex-direction: row;
    margin-top: -10px;
    justify-content: space-between;
    font-size: 30px; 
}

.fakta{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}


span{
    opacity: 75%;
}

footer{
    background-color: #16174f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

footer div{
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
    color: white;
    margin-right: 2vh;
}

footer a{
    text-decoration: none;
    color: white;
}


@keyframes bildspel2 {
    0%{margin-top: 0vh;}
    10%{margin-top: -65vh;}
    35%{margin-top: -65vh;}
    50%{margin-top: -130vh;}
    75%{margin-top: -130vh}
    85%{margin-top: 0vh;}
}

@keyframes bildspel {
    0%{margin-top: 0vh;}
    10%{margin-top: -65vh;}
    35%{margin-top: -65vh;}
    50%{margin-top: -140vh;}
    75%{margin-top: -140vh}
    85%{margin-top: 0vh;}
}

@media screen and (max-width: 600px){

    #header1{
        width: 97%;
        left: 0vh;
    }

    .topnav{
        display: none;
    }

    .första:hover{
        animation: none;
    }
    
    .andra:hover{
        animation: none;
    }
    
    .tredje:hover{
        animation: none;
    }

    #myVideo{
        display: none;
    }

    .flex-container{
        margin-top: 70vh;
    }

    .rubrik{
        width: 100%;
        position: absolute;
        left: 0;
        top: 15%;
        background-color: #222;
        font-size: 50px;
    }

    .house{
        overflow: visible;
        flex-direction: column;
        
    }
    .bild{
        width: 100%;
        margin: 0;
    }
    .header2{
        flex-direction: column;
    }
    .sista{
        display: none;
    }
}

.enkät{
    display: flex;
    flex-direction: column;
}